<section class="signUpSection p-sm-5 p-4 py-5">

  <form [formGroup]="signupForm">

    <div class="d-flex pt-5 justify-content-center">
      <div style="width: 40%" class="surface-card p-4 shadow-2 border border-round  signForm">
        <div class="text-center mb-2">
          <img alt="Image" class="mb-3 border rounded-circle" height="80"
               src="../../../assets/img/profile-img.jpg">
          <div class="text-3xl font-medium ">Sign Up</div>
          <span class="text-600 font-medium ">If you have an account?</span>
          <a class="font-medium no-underline ml-2 text-primary cursor-pointer" routerLink="/login">Sign In!</a>
        </div>
        <div class="row">
          <div class="col-6 col-sm-10 m-auto">
            <label for="userName">User Name</label>
            <p-inputGroup>
              <input [required]="true" style="padding: 5px"
                     formControlName="UserName" id="userName" pInputText
                     placeholder=""/>
            </p-inputGroup>
          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <label for="email1">Mobile</label>
            <p-inputGroup>
              <input style="padding: 5px"
                     (change)="onChangeMobileNumber($event)"
                     [(ngModel)]="this.userMobilePhone"
                     [style.border-left-color]="(this.validMobilePhone)?'green':''"
                     [pTooltip]="mobileNumberValidation"
                     [required]="true"
                     [pattern]="regexForMobNum"
                      id="mobile1" pInputText
                     type="tel" placeholder=""
                     tooltipPosition="bottom"
                     [appendTo]="'body'"
                     [ngModelOptions]="{standalone: true}">
            </p-inputGroup>
          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <label for="email1">Email</label>
            <p-inputGroup>
              <input style="padding: 5px"
                     [required]="true"
                    formControlName="Email" id="email1" pInputText
                     type="text" placeholder="">
            </p-inputGroup>

          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <label>Gender</label>
            <div class="form-check" *ngFor="let item of genderList ">
                <input class="form-check-input" type="radio" name="item"
                       (change)="onChangeGenderType(item.name)">
                <label [for]="item.value" class="ml-2">{{ item.name }}</label>
            </div>
          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <label for="password1" class="d-block">Password</label>
            <p-password class="" [required]="true" formControlName="Password"
                        id="password1"></p-password>
          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <label class="d-block" for="confirmPassword1">Confirm Password</label>
            <p-password class="" [required]="true" formControlName="ConfirmPassword"
                        id="confirmPassword1"></p-password>
          </div>
          <div class="col-6 col-sm-10 m-auto mt-2">
            <p-checkbox class="px-1" [binary]="true" label="i accept the terms of use and privacy policy" (onChange)="onChangeAcceptedTermsOfUseAndPrivacyPolicy($event)"  [(ngModel)]="acceptedTermsOfUseAndPrivacyPolicy"></p-checkbox>
          </div>
          </div>
        <div class="d-flex justify-content-end mt-3">
          <button pButton class="btn btn-cancel px-3 w-30 mx-3" label="Cancel"
                  (click)="Cancel()"></button>
          <button [disabled]="disableSubmitButton"  pButton class="btn btn-primary px-3 w-30" label="Submit"
                  icon="pi pi-check " [loading]="isLoading" (click)="done()"></button>

        </div>
      </div>
    </div>
  </form>
</section>
