<section class="carsoul-bg px-3">
  <p-carousel [autoplayInterval]="3000" [circular]="false" [numScroll]="1" [numVisible]="1"
              [responsiveOptions]="responsiveOptions"
              [value]="categories" class="" styleClass="custom-carousel">

    <ng-template let-temp pTemplate="item">
      <div class="product-item
       d-flex py-5 px-5
       justify-content-xl-start
       justify-content-lg-start
       justify-content-md-center
       justify-content-sm-center">
        <div class="product-item-content w-xl-4 w-lg-5 w-md-50 w-sm-75 ">
          <div class="test">
            <img class="product-image" src="assets/img/category/{{temp.image}}.jpg"/>
            <div class="overlay"></div>
          </div>
          <div class="mt-4">
            <h2>{{temp.name}}<i class="{{temp.logo}} ml-3"></i></h2>
            <p class="text-white">
              {{temp.description}}
            </p>
            <button (click)="showRestaurantMenu()" class="p-component p-element mt-2 " label="Read Our Menu"
                    pButton>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>


