<div *ngIf="loading" class="text-center w-100 p-5 ">
  <div class="p-5">
    <app-spinner></app-spinner>
  </div>
</div>
<div *ngIf="!loading" class="card w-100 m-auto p-xl-3">
  <p-dataView #dv [paginator]="true" [rows]="12" [sortField]="sortField" [sortOrder]="sortOrder"
              [value]="orders" class="" layout="grid">
    <ng-template pTemplate="header">
      <div class="d-flex flex-column flex-md-row  justify-content-md-between px-5 py-2">
        <p-dropdown
          (onChange)="onSortChange($event)"
          [(ngModel)]="sortKey"
          [options]="sortSalaryOptions"
          placeholder="Sort By Price"
          styleClass="mb-2 mb-md-0">
        </p-dropdown>

        <p-dropdown (onChange)="filterCategory($event)"
                    [(ngModel)]="sortKey"
                    [options]="CategoryOptions"
                    optionLabel="label"
                    placeholder="All"
                    styleClass="mb-2  mb-md-0">
        </p-dropdown>
        <span class="p-input-icon-left mb-2 mb-md-0">
                  <i class="pi pi-search"></i>
          <input #key (keyup)="doSearch(key.value)" pInputText placeholder="Search by Name" type="search">
              </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="list" let-orders>
      <div class="row grid-nogutter">
      <div *ngFor="let product of orders" class="col-12">
        <app-orders-list [data]="product"></app-orders-list>
      </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="grid" let-orders>
      <div class="row grid-nogutter">
      <div *ngFor="let product of orders" class="col-xl-3 col-lg-3 px-sm-5 col-md-6 px-md-1 p-xl-2 px-5 " >
        <app-orders-grid  [data]="product"></app-orders-grid>
      </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

